@font-face {
  font-family: texgyreherosBold;
  src: url("texgyreheros-bold.otf");
}

@font-face {
  font-family: texgyreheros;
  src: url("texgyreheros-regular.otf");
}

body {
  background-color: lightgrey;
}

.mainText {
  font-family:texgyreheros;
  font-size: 64px;
  margin: 0px;
  padding-top: 10px;
  padding-left: 30px;
  line-height: 76px;
}

      .gifWindow {
        position: absolute;
        background-color: white;
        text-align: center;
        cursor: move;
        width: 306px;
        font-family: texgyreheros;
      }


      .gif {
        width: 300px;
      }

      #men {
  z-index: 3;
  left: 45%;
  top: 36%;
}

#women {
z-index: 5;
left: 20%;
top: 40%;
}

#olderMen {
z-index: 1;
left: 55%;
top: 30%;
}

#olderWomen {
z-index: 3;
left: 70%;
top: 45%;
}

#asian {
z-index: 2;
left: 10%;
top: 35%;
}

#about {
  left: 60%;
  top: 20%;
  background-color: yellow;
  border: 1px solid black;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
